<form [formGroup]="loginForm" (submit)="handleSubmit($event)">
  <div class="form-group">
    <label for="userId">User ID</label>
    <input id="userId" type="text" placeholder="User ID" formControlName="userId" />
  </div>
  <div class="form-group">
    <label for="userName">Username</label>
    <input id="userName" type="text" placeholder="Username" formControlName="userName" />
  </div>
  <div class="form-group">
    <label for="userKey">User Key</label>
    <input
    id="userKey"
    type="password"
    placeholder="User Key"
    formControlName="userKey"
    />
  </div>
  <button>Login</button>
</form>
